* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	overflow:none; 
	background-image: url(../img/background.png);
	font-family: 'sambaregular';
	color:#fff;

}

a , a:hover{
	text-decoration: none;
	color: #18682f;
}


.left {
	float: left;
}

.yellow {
	color: #f2e015;
}


.roboto {
	font-family: 'robotolight';
}



/*==============================================
			IMPORT FONTS
================================================*/

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sambaregular';
    src: url('../fonts/samba-webfont.eot');
    src: url('../fonts/samba-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/samba-webfont.woff') format('woff'),
         url('../fonts/samba-webfont.ttf') format('truetype'),
         url('../fonts/samba-webfont.svg#sambaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*==============================================
			TOP
================================================*/

.top {
	height: 60px;
	line-height: 60px;
	padding-left: 65px;

}



/*==============================================
			TEXT'S SIZE 
================================================*/

.bigtext {
	font-size: 48px;
}

.bigtext a{
	color: #fff;
}

/*==============================================
			MENU 
================================================*/
.menu {
	display: none;
	width: 286px;
	margin: 0 auto;
	height: 60px;
	line-height: 50px;
	font-size: 24px;
	color:#18682f;
}

.menu >  li {
	list-style: none;
	display: inline-block;
	height: 60px;
	margin-right: 10px;
	border-top: 5px solid transparent;
	-webkit-transition: border-top 0.1s linear,color 0.1s linear; 
    transition: border-top 0.1s linear ,color 0.1s linear;
}


.menu >  li:hover {
	border-top: 5px solid #fff;
	cursor: pointer;
	color:#fff;
}

.menu >  li:hover a {
	color:#fff;
}

.col-sm-2, .col-sm-4 {
	padding:0;
	
}
/*==============================================
		RESPONSIVE MENU 
================================================*/

.responsivemenu {
	float: right;
	margin-right: 10px;
	display: block;
}

.submenu {
	width: 30%;
	background-image: url('../img/background.png');
	position: absolute;
	z-index: 100;
	margin-top: 64px;
	right: 0;
	margin-right: 25px;
	font-size: 20px;
	display: none;
}

.submenu >  li {
	list-style: none;
	width: 100%;
	text-align:center;
}
/*==============================================
			DEFAULT COLUNS AND IMAGES 
================================================*/

.defaultimg {
	width:100%;
	height:330px;
}




.bigheight {
	height: 360px;
}

.negativemargintop {
	margin-top: 0px;
}


.maxmarginleft ,.midmarginleft ,.minmarginleft {
	margin-left: 0%;
}
/*==============================================
			TRANSPARENTS BACKGROUNDS 
================================================*/

.bg-green {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	background-color: #129d49;
	opacity: 0.6;
    -webkit-transition: opacity 0.1s linear; 
    transition: opacity 0.1s linear;
}


.bg-yellow {
    width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	background-color: #f2e015;
	opacity: 0.6;
}


.bg-green:hover ,.bg-yellow:hover {
	opacity: 0;
}


/*==============================================
		     FOOTER
================================================*/

.footer {
	text-align: center;
	font-family: 'robotolight';
	font-size: 15px;
	clear: both;
	height: 80px;
	line-height: 80px;
}


.hastag {
	font-family: 'sambaregular';
	color: #f2e015;
	font-size: 25px;
}


/*==============================================
		RANK
================================================*/
.colrank {

	margin-top:0;
}

.colrankleft {
	margin-left: 0%;
}

.number {
	position: absolute;
	z-index: 99;
	font-size: 2em;
}

.number, .numbermid {
	margin-left: 93%;
}

.nick, .likes {
	color: #fff;
	z-index: 99;
	margin-left: 10px;
	font-family: 'robotolight';	
}

.nick {
	position: absolute;
	font-size: 24px;
	margin-top: -35px;
}



.likes {
	position: relative;
	float: right;
	font-size: 18px;
	margin-right: 10px;
	margin-top: -30px;
}

/*==============================================
		DESCRIPTION IMAGES MURAL
================================================*/
.nickmural, .likesmural {
	color: #fff;
	z-index: 99;
	margin-left: 4px;
	font-family: 'robotolight';	
}

.nickmural {
	position: absolute;
	font-size: 24px;
	margin-top: -30px;
}


.likesmural {
	position: relative;
	float: right;
	font-size: 18px;
	margin-right: 10px;
	margin-top: -25px;
}

.fotomural:hover .none {
	display: block;
}
/*==============================================
		ABOUT MODAL
================================================*/
.aboutmodal {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
}

.aboutmodal > .bigtext {
	color: #119c49;
	font-size: 70px;
}

.btnok {
	display: inline-block;
	width: 140px;
	height: 45px;
	line-height: 45px;
	border:1px solid #119c49;
	border-radius: 40px;
	font-size: 30px;
	color:#119c49; 
	margin-top: 5%;
}

.btnok:hover {
	border:1px solid #FFF;
	color: #fff;
}

.textabout {
	width: 500px;
	margin: 0 auto;
	text-align: justify;
	font-family: 'robotolight';
}


.imgparceiros {
	width: 235px;
	padding: 10px;
}



.block {
	display: block;
}

/*==============================================
		responsive media
================================================*/
@media  all and( max-width : 304px ) {
	
	.submenu {
		margin-top: 124px;
	}
}
@media all and ( max-width : 480px ) {

	.number, .numbermid {
		margin-left: 84%;
	}
}

@media  all and( max-width : 520px ) {


	
	.aboutmodal, .textabout {
		width: 100%;
	}

	.textabout {padding: 10px;}

}

@media all and ( min-width : 768px ) {

	body {
		overflow:hidden; 
		width: 100%;
		height:100%;
	}

	.none {
		display: none;
	}
	.defaultimg {
		width:100%;
		height:180px;
	}

	.bigheight {
		height: 360px;
	}

	.negativemargintop {
		margin-top: -180px;
	}

	.minmarginleft {
		margin-left: 12.5%;
	}


	.midmarginleft {
		margin-left: 25%;
	}

	.maxmarginleft {
		margin-left: 37.5%;
	}

	.colrank {
		margin-top: 7.3%;
	}

	.colrankleft {
		margin-left: 25%;
	}
	
	.number {
		margin-left: 82%;
	}

	.numbermid {
		margin-left:60%;
	}

	.menu {
		display: block;
	}
	
	.responsivemenu, .submenu {
		display: none;
	}

	.nicknamemin {
		font-size: 15px;
		display: inline-block;
		max-width: 100px;
		overflow: hidden;
		margin-bottom: -4px;
	}

	.likesmural {
		font-size: 12px;
		margin-right: 2px;
		margin-top: -18px;
	}

}


@media  all and( min-width : 868px ) {

	.number {
		margin-left: 84%;
	}

	.numbermid {
		margin-left:65%;
	}
}

@media  all and ( min-width : 1020px ) {
	.number {
		margin-left: 86%;
	}

	.numbermid {
		margin-left:70%;
	}
}

@media  all and ( min-width : 1300px ) {
	.number {
		margin-left: 88%;
	}
	.numbermid {
		margin-left:76%;
	}
}


